In [36]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("heart_disease_health_indicators.csv")

In [5]:
df.head()

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [11]:
df.sample(5)

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
171116,0.0,1.0,1.0,1.0,20.0,1.0,0.0,2.0,1.0,0.0,...,1.0,1.0,3.0,0.0,3.0,0.0,0.0,7.0,5.0,5.0
108182,0.0,0.0,1.0,1.0,22.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,30.0,0.0,0.0,0.0,6.0,4.0,3.0
75882,1.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,1.0,11.0,6.0,8.0
180520,0.0,0.0,0.0,1.0,20.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,1.0,5.0,0.0,0.0,0.0,4.0,6.0,8.0
36932,0.0,1.0,1.0,1.0,19.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,4.0,30.0,0.0,1.0,0.0,9.0,2.0,2.0

In [6]:
df.shape

(253680, 22)

In [7]:
df.columns

Index(['HeartDiseaseorAttack', 'HighBP', 'HighChol', 'CholCheck', 'BMI',
       'Smoker', 'Stroke', 'Diabetes', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [13]:
df['HeartDiseaseorAttack'].value_counts()

HeartDiseaseorAttack
0.0    229787
1.0     23893
Name: count, dtype: int64

In [14]:
df['Diabetes'].value_counts()

Diabetes
0.0    213703
2.0     35346
1.0      4631
Name: count, dtype: int64

In [15]:
df.isnull().sum()

HeartDiseaseorAttack    0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
Diabetes                0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [16]:
df['Age'].value_counts().sort_index()

Age
1.0      5700
2.0      7598
3.0     11123
4.0     13823
5.0     16157
6.0     19819
7.0     26314
8.0     30832
9.0     33244
10.0    32194
11.0    23533
12.0    15980
13.0    17363
Name: count, dtype: int64

In [17]:
df['BMI'].describe()

count    253680.000000
mean         28.382364
std           6.608694
min          12.000000
25%          24.000000
50%          27.000000
75%          31.000000
max          98.000000
Name: BMI, dtype: float64

In [18]:
pd.crosstab(df['HighBP'], df['HeartDiseaseorAttack'], normalize='index')

HeartDiseaseorAttack       0.0       1.0
HighBP
0.0                   0.958820  0.041180
1.0                   0.835264  0.164736

In [19]:
np.random.seed(42)
df['vaccinated']=np.random.choice([0,1],size=len(df),p=[0.3,0.7])

In [22]:
df.sample(5)

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,vaccinated
174621,0.0,1.0,0.0,1.0,40.0,0.0,0.0,0.0,1.0,0.0,...,0.0,2.0,0.0,3.0,1.0,0.0,7.0,4.0,2.0,0
218037,0.0,1.0,0.0,1.0,36.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,4.0,0.0,0.0,1.0,2.0,5.0,8.0,1
145582,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,...,0.0,2.0,0.0,0.0,0.0,0.0,2.0,6.0,8.0,0
109897,0.0,0.0,0.0,1.0,29.0,0.0,0.0,0.0,1.0,1.0,...,0.0,3.0,3.0,3.0,0.0,1.0,3.0,6.0,7.0,1
34294,0.0,0.0,0.0,1.0,25.0,0.0,0.0,0.0,1.0,0.0,...,0.0,3.0,10.0,4.0,0.0,1.0,3.0,6.0,7.0,1

In [23]:
df['Had_COVID']=np.random.choice([0,1],size=len(df),p=[0.6,0.4])

In [31]:
df.sample(5)

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,Vaccinated,Had_COVID
12378,0.0,0.0,0.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0,1,0
201532,0.0,0.0,1.0,1.0,30.0,1.0,0.0,0.0,1.0,0.0,...,3.0,0.0,0.0,0.0,1.0,9.0,6.0,8.0,1,0
248847,0.0,0.0,0.0,1.0,23.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,4.0,1.0,1,1
112814,0.0,1.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0,1,1
80297,0.0,1.0,0.0,1.0,31.0,0.0,0.0,0.0,1.0,1.0,...,2.0,0.0,3.0,0.0,0.0,9.0,4.0,8.0,1,0

In [30]:
df['Vaccinated'].value_counts(normalize=True)

Vaccinated
1    0.700753
0    0.299247
Name: proportion, dtype: float64

In [28]:
df['Had_COVID'].value_counts(normalize=True)

Had_COVID
0    0.600343
1    0.399657
Name: proportion, dtype: float64

In [32]:
X = df.drop(columns=['HeartDiseaseorAttack','Diabetes'])

In [33]:
y_heart = df['HeartDiseaseorAttack']

In [34]:
y_diabetes= df['Diabetes']